body {
  background-image: url("https://images.unsplash.com/photo-1602298674761-700e96568f5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmFpbmZvcmVzdHxlbnwwfHwwfHw%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

h1 {
  color: white;
}

/* .menu {
  text-align: center;
  transform: translate(0px, 20em);
} */

#mazectx {
  /* background-image: maybe */
  height: 9em;
  display: grid;
  margin: 2vw 5vh;
  border: ridge;
  padding: 20em;
  background-color: rgba(0, 0, 0, 0.781);
}

.maze > * {
  height: 0.5em;
}

.cell {
  background-color: white;
  position: static;
  transform: translate(-20.1em, -15em);
}

.cell2 {
  background-color: white;
  position: static;
  transform: translate(10em, -5em);
}

.cell3 {
  background-color: purple;
  position: static;
  transform: translate(10em, -15em);
}

.cell4 {
  background-color: red;
  position: static;
  transform: translate(10em, 5em);
}

.cell5 {
  background-color: blue;
  position: static;
  transform: translate(10em);
}

.cell6 {
  background-color: peru;
  position: static;
  transform: translate(10em, 10em);
}

.cell7 {
  background-color: yellow;
  position: static;
  transform: translate(7em);
}

.cell8 {
  background-color: orange;
  position: static;
  transform: translate(15em);
}

.cell9 {
  background-color: brown;
  position: static;
  transform: translate(5em);
}

.character {
}
