body {
  background-image: url("https://images.unsplash.com/photo-1602298674761-700e96568f5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmFpbmZvcmVzdHxlbnwwfHwwfHw%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

h1 {
  color: white;
  
}

.menu {
  text-align: center;
  padding: 2rem;
}

.winbtn {
  margin: 1rem;
  background-color: green;
  color: white;
  border: none;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5 ease;
}

.maze > * {
  height: 0.5em;
}

#mazeplace {
  padding: 0.5rem;
  border: ridge;
  background-color: rgba(0, 0, 0, 0.781);
}


.lvlTwo {
  display: none;
}
