body {
  background-image: url("https://images.unsplash.com/photo-1602298674761-700e96568f5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmFpbmZvcmVzdHxlbnwwfHwwfHw%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

h1 {
  color: white;
}

.menu {
  text-align: center;
}

#mazectx {
  /* background-image: maybe */

  height: 9em;
  display: grid;
  margin: 2vw 5vh;
  border: ridge;
  padding: 20em;
  background-color: rgba(0, 0, 0, 0.781);
}

.maze > * {
  height: 0.5em;
}

