@mixin text-shadow {
    text-shadow: 2px 2px black, 2px 0px black, 2px -2px black, 0px 2px black, 0px -2px black, -2px 2px black, -2px 0px black, -2px -2px black;
}

@mixin background-image-setup($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin responsive-width($max-width) {
    width: 100%;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}